<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./_header.ejs %>
  </head>
  <body>
    <h1>Edit</h1>
    <form action="/items/<%= itemId %>?_method=PUT" method="POST">
     <label for="content">Toodoo:</label>
     <input type="text" id="content" name="content" value="<%= content %>">
     <label for="categoryId">Category</label>
     <select name="categoryId" id="categoryId">
       <option value="1" <%= (categoryId === 1) ? "selected" : "" %> >To Watch</option>
       <option value="2" <%= (categoryId === 2) ? "selected" : "" %> >To Read</option>
       <option value="3" <%= (categoryId === 3) ? "selected" : "" %> >To Eat</option>
       <option value="4" <%= (categoryId === 4) ? "selected" : "" %> >To Buy</option>
       <option value="5" <%= (categoryId === 5) ? "selected" : "" %> >Uncategorized</option>
      </select>
      <input type="submit" value="Update">
    </form>
    <form action="/" method="GET">
      <input type="submit" value="Cancel">
    </form>
      
  <!-- Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/foundation.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script>$(document).foundation();</script>
  </body>
</html>

